.registration-form {
  min-width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__button {
    align-self: center;
  }
}
